<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.msooimonitor.mapper.dbt.ooi.InterfaceInfoMpper">
    <select id="getDetailEffect" resultType="map">
        select *
        from iop_public.ooi_activity_detail_effect_${date}
        where activity_id in (${activityIds})
            limit #{start}
            ,#{limit}
    </select>

    <select id="getSummaryEffects" parameterType="string" resultType="map">
        select *
        from iop_public.ooi_activity_summary_effect
        where activity_id in (${activityIds})
          and DATE_FORMAT(data_time, '%Y%m%d') = #{date}
    </select>

    <select id="getSummaryEffect" resultType="map">
        select *
        from iop_public.ooi_activity_summary_effect
        where activity_id = #{activityId}
          and DATE_FORMAT(data_time, '%Y%m%d') = #{date}
    </select>

    <select id="getTableRows" parameterType="string" resultType="int">
        select count(*)
        from iop_public.ooi_activity_detail_effect_${dateTimeFormat}
        where activity_id in (${activityIds})
    </select>
    <delete id="truncateTable">
        TRUNCATE TABLE iop_${tableName}
    </delete>

    <insert id="insert93055">
        insert into iop_93055 (
        a2,a3,a4,a5,a6,a7,a8,a9,a10
        ) values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.A2},#{item.A3},#{item.A4},#{item.A5},#{item.A6},#{item.A7},#{item.A8},#{item.A9},#{item.A10}
            )
        </foreach>
    </insert>

    <insert id="insert93056">
        insert into iop_93056 (
        a2,a3,a4,a5,a6,a7,a8,a9,a10
        ) values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.A2},#{item.A3},#{item.A4},#{item.A5},#{item.A6},#{item.A7},#{item.A8},#{item.A9},#{item.A10}
            )
        </foreach>
    </insert>


    <select id="getMaxTime" parameterType="string" resultType="string">
        select max(data_time)
        from iop_public.ooi_activity_summary_effect
        where activity_id = #{activityId}
    </select>

    <insert id="insert93006Info">
        insert into iop_93006_info (
        count_time,
        province,
        city,
        activity_id,
        activity_name,
        campaign_id,
        campaign_name,
        spetopic_id,
        iop_activity_id
        ) values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.countTime},#{item.province},#{item.city},#{item.activityId},#{item.activityName},#{item.campaignId},
            #{item.campaignName},#{item.spetopicId},#{item.iopActivityId}
            )
        </foreach>
    </insert>

    <insert id="insertiop93006">
        insert into iop_93006
        select b.count_time,
               b.province,
               b.city,
               a.phone_no,
               b.activity_id,
               b.activity_name,
               'null',
               'null',
               'null',
               'null',
               'null',
               a.is_touch,
               a.is_join_activity,
               a.is_marketed
        from iop_93006_info b
                 inner join iop_public.ooi_activity_detail_effect_${activityEndDate} a
                            on a.activity_id = b.iop_activity_id
    </insert>
    <insert id="insertIop93004">
        insert into iop_93004

        select #{city},
               #{activityId},
               #{activityName},
               #{startTime},
               #{endTime},
               #{campaignId},
               #{campaignName},
               #{campaignStartTime},
               #{campaignEndTime},
               #{channelId},
               #{channeTypeOne},
               #{channeTypeTwo},
               #{channelName},
               #{positionId},
               #{positionidOne},
               #{positionidTwo},
               #{positionName},
               b.PHONE_NO,
               b.IMEI,
               #{proName},
               #{proCode},
               #{proCodeSplite}
        from ${finalObjTableName} a
                 inner join dw_terminal_imei_user_yx_d b on a.PHONE_NO = b.PHONE_NO
    </insert>

    <select id="getTableRowsByTableName" parameterType="string" resultType="int">
        select count(*)
        from ${tableName}
    </select>

    <select id="tableIsExit" parameterType="string" resultType="int">
        select count(*)
        from information_schema.tables
        where table_schema = #{schema}
          and table_name = #{tableName}
    </select>

    <select id="getSummaryEffectMaxDate" parameterType="string" resultType="string">
        select max(data_time)
        from iop_public.ooi_activity_summary_effect
        where activity_id = #{activityId}
          and data_time
            &lt;
              #{beforeDate}

    </select>
    <select id="getLastSummaryEffect" resultType="map">
        select *
        from iop_public.ooi_activity_summary_effect
        where activity_id = #{activityId}
          and date_format(data_time, '%Y%m') &lt;= #{month}
        ORDER BY data_time desc limit 1
    </select>

    <select id="getNewTableName" resultType="string">
        select distinct table_name  from information_schema.columns
        where table_name like concat('%',#{tableName},'%') and length(substring(table_name,length(#{tableName})+1)) = #{length}  order by table_name desc limit 1
    </select>

    <insert id="countLabeData" parameterType="string">
       insert into iop.${uploadTableName}  select a.phone_no from (select phone_no,${rule} as flag from sccoc.${tableName}) a
       where a.flag=1
    </insert>

    <update id="createTbale" parameterType="string">
        CREATE TABLE  iop.${tableName} ${content}
    </update>

    <insert id="countJTLabeData" parameterType="string">
    insert into iop.${uploadTableName} (phone_no,sex,age)  select distinct c.phone_no,c.sex,c.age
    from
     (select a.phone_no,case when b.sex=1 or b.sex=0 then b.sex else 3 end as sex ,b.age
     from
        (select distinct phone_no,${rule} as flag from sccoc.${cocTableName}) a
        left join sccoc.${sexTable} b on a.phone_no = b.phone_no
        where a.flag=1 and b.age is not null
     ) c
    </insert>

    <update id="dropTable" parameterType="string">
        drop table ${schema}.${tableName}
    </update>

    <insert id="insert93054" >
        insert into iop_93054 (label_type,label_id,label_name,quote_num,count_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{taskType},
            #{labelId},
            #{labelName},
            #{quoteNum},
            #{countTime}
            )
        </foreach>
    </insert>
</mapper>