management:
  endpoints:
    web:
      #      base-path: "/"   #默认是在“/actuator”下面
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: WHEN_AUTHORIZED

spring:
  security:  ## 登陆spring boot admin所需的账号密码
    user:
      name: "user"
      password: "password"
  boot:
    admin:
      client:
        url: http://127.0.0.1:9412  #需要指明admin server的地址
        username: ${spring.security.user.name}       #These two are needed so that the client
        password: ${spring.security.user.password}   #can register at the protected server api
        instance:
          prefer-ip: true
          metadata:
            user.name: ${spring.security.user.name}         #These two are needed so that the server
            user.password: ${spring.security.user.password} #can access the protected client endpoints
  zipkin:
    enable: true
  #  datasource:
  #        driver-class-name: com.mysql.cj.jdbc.Driver
  #        url: jdbc:mysql://10.113.221.57:3306/vgop?useUnicode=true&amp;characterEncoding=utf8&serverTimezone=Asia/Shanghai
  #        username: aiapp
  #        password: tFc_99w_
  redis:
    password: qcd_As1ainfo
    cluster:
      nodes: 10.114.208.18:6010,10.114.208.19:6010,10.114.208.20:6010



ftp:
  host: 10.109.3.228
  user: vgop_iop
  password: 456vCe!b
  path: /datain/qcd_iop/iop-OOI/sbin-data

file:
  path17: /data1/vgop_iop/iop-OOI/sbin-data


info: #定义各种额外的详情给服务端显示
  app:
    name: "@project.name@"   #从pom.xml中获取#"@project.name@"
    description: "@project.description@"
    version: "@project.version@"
    spring-cloud.version: "@spring-cloud.version@"

#mybatis:
#  mapper-locations: classpath:mapper/**/*.xml
#  config-location: classpath:mybatis-config.xml
#  type-aliases-package: com.asiainfo.systemmanage.entity.*
