<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.msooimonitor.mapper.mysql.DownloadFileMapper" >

    <select id="listDownloadFileInterface" resultType="com.asiainfo.msooimonitor.model.ooimodel.InterfaceInfo">
        select * from ooi_interface_info a where a.data_state = 'U' and a.interface_type = '2' and a.interface_deal_type = '2'
    </select>

    <insert id="insertRecord" parameterType="com.asiainfo.msooimonitor.model.ooimodel.InterfaceRecord">
        insert into ooi_interfacae_run_record_dtl (
        interface_id,
        type_desc,
        run_step,
        file_name,
        file_num,
        file_success_num,
        error_desc,
        update_time,
        file_time
        ) values (
        #{interfaceId},
        #{typeDesc},
        #{runStep},
        #{fileName},
        #{fileNum},
        #{fileSuccessNum},
        #{errorDesc},
        now(),
        #{fileTime}
        );
    </insert>

    <select id="getMaxSuccessTime" parameterType="string" resultType="string">
    SELECT max(file_time) from ooi_interfacae_run_record_dtl where interface_id = #{interfaceId} and type_desc = 0 and run_step = 2;
    </select>

    <update id="updateRelTable" parameterType="string">
        update ooi_interface_rel_table set step = 2  where interface_id = #{interfaceId} and data_time = #{date}
    </update>

</mapper>