<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.msooimonitor.mapper.mysql.GetFileDataMapper">
    <!--<select id="getValue" parameterType="string" resultType="string">-->
    <!--${sql}-->
    <!--</select>-->


    <select id="getPhoneFromBlackRed" resultType="map">
        select substr(phone_no, 1, 11)
        from REBUILD_BLACK_RED_WHITE_USER
        where phone_no like '1%'
    </select>

    <select id="getPhone" resultType="list">
        select substr(APPEAL_TEL, 1, 11)
        from iop_93011_phone_ods_cct
        where APPEAL_TEL like '1%' "
    </select>
    <select id="getBaseInfo" resultType="map">
        select city_id,activity_id,activity_name,final_obj_table_name
        from activity_base_info a
                 inner join activity_obj_user b on a.activity_id = b.activity_id
    </select>
    <select id="getPhone93006" parameterType="string" resultType="map">
        select *
        from ${tableName}

    </select>
    <select id="getCustGroupInfo" resultType="map">
        select b.*
        FROM activity_rel_custgroup a
                 inner JOIN cust_group_info b ON a.cust_group_id = b.cust_group_id
        where ACTIVITY_ID = #{activityId }   </select>
    <select id="getBaseInfo93006" resultType="map">
        select a.*,city_code
        from activity_base_info a
                 inner join activity_rel_channel c on a.activity_id = c.activity_id
                 inner JOIN base_channel d on c.channel_id = d.channel_id
                 inner join base_city_code e on e.city_id = a.city_id
        where d.is_syn = 'E'
          and a.activity_state = '9'
          and a.is_deleted = 0
          and a.is_paused = 0
          and a.is_send_approval = 1
          and a.end_time = #{activityEndDate}
    </select>
    <select id="getMarkingInfo93006" resultType="map">
        select *
        from ooi_MARKING_ACTIVITY_INFO
        where SUBSTR(activity_endtime, 1, 10) = #{activityEndDate}
    </select>
    <select id="getMarkingInfo93001" resultType="map">
        select *
        from ooi_MARKING_ACTIVITY_INFO
        where SUBSTR(activity_endtime, 1, 10) >= #{activityEndDate}
    </select>
    <select id="getMarkingInfo93002" resultType="map">
        select *
        from ooi_MARKING_ACTIVITY_INFO
        where SUBSTR(activity_endtime, 1, 10) = #{activityEndDate}
    </select>
    <select id="getBaseInfo93002" resultType="map">
        select a.*,c.flow
        from activity_base_info a
                 inner join activity_rel_channel b on a.activity_id = b.activity_id
                 inner join activity_flow c on b.channel_id = c.channel_id and b.activity_id = c.activity_id
        where a.end_time = #{activityEndDate}
    </select>

    <select id="getCampaignedInfo" resultType="map">
        select a.*,b.iop_activity_id
        from ooi_MARKING_CAMPAIGN_INFO a inner join ooi_iop_rel_activity_info b on a.campaign_id=b.ooi_campaign_id and a.activity_id=b.ooi_activity_id
        where b.data_state='U' and b.is_feedback='2' and  a.activity_id = #{activity_id}
    </select>
    <select id="getCampaignedEndInfo" resultType="map">
        select *
        from ooi_MARKING_CAMPAIGN_INFO a inner join ooi_iop_rel_activity_info b on a.campaign_id=b.ooi_campaign_id and a.activity_id=b.ooi_activity_id
        where b.data_state='U' and b.is_feedback='2' and  a.activity_id = #{activity_id}
          and SUBSTR(campaign_endtime, 1, 10) = #{campaignedEndTime}
    </select>

    <select id="getOfferBo" resultType="map">
        select *
        from ooi_marking_campaign_offerBO_info
        where campaign_id = #{campaign_id}
    </select>
    <select id="getBaseInfo93005" resultType="map">
        select a.*,b.flow
        from activity_base_info a
                 inner join activity_flow b on a.activity_id = b.activity_id
                 inner join activity_rel_channel c on a.activity_id = c.activity_id and b.channel_id = c.channel_id
        where a.end_time = #{activityEndDate}

    </select>
    <select id="getBaseInfo93001" resultType="map">
        select *
        from activity_base_info

    </select>
    <select id="getMarkingInfo93005" resultType="map">
        select *
        from ooi_MARKING_ACTIVITY_INFO a
        where SUBSTR(activity_endtime, 1, 10) = #{activityEndDate}
    </select>
    <update id="insertFlow" parameterType="java.util.HashMap">
        INSERT INTO `activity_flow`(`activity_id`, `flow`)values
        <foreach collection="list" item="map" separator=",">
            (#{map.activity_id}, #{map.flow})
        </foreach>
    </update>
    <select id="getFlowInfo1" resultType="map">
        select distinct a.activity_id,'' as channel_id,'1' as flow
        from activity_base_info a
                 inner join ooi_iop_rel_activity_info b on a.activity_id = b.iop_activity_id
        where a.activity_id not in (select activity_id from activity_flow where channel_id = '')
    </select>
    <select id="getFlowInfo2" resultType="map">
        select a.activity_id, a.channel_id,CASE b.is_syn WHEN 'U' THEN '2' ELSE '3' END as flow
        from activity_rel_channel a
                 inner join base_channel b on a.channel_id = b.channel_id
        where a.activity_id not in (select activity_id from activity_flow)
    </select>
    <select id="getChannelInfo" resultType="map">
        select *
        from activity_rel_channel_parameter a
        where a.activity_id = #{activity_id} limit 1
    </select>
    <select id="getPositionInfo" resultType="map">
        select *
        from activity_rel_channel_parameter a
                 inner join marking_activity_iop_info b on a.`value` = b.POSITIONID
        where a.parameter = 'internet_base_pos_name'
          and a.activity_id = #{activity_id}
    </select>


    <update id="insertFailInterface" parameterType="java.util.HashMap">

        INSERT INTO `ooi_activity_syn_fail_interface`(`activity_id`, `campaign_id`, `interface_name`, `syn_time`,
                                                      error_desc)
        VALUES (#{activity_id}, #{campaign_id}, #{interface_name}, #{syn_time}, #{error_desc});

    </update>

    <select id="getIOPActivityIds" parameterType="string" resultType="string">
        select distinct iop_activity_id
        from ooi_iop_rel_activity_info
        where ooi_activity_id = #{activityId}
          and data_state = 'U'
          and is_feedback = '2'
    </select>


    <select id="getZHDIOPActivityIds" parameterType="string" resultType="string">
        select distinct iop_activity_id
        from ooi_iop_rel_activity_info
        where ooi_campaign_id = #{activityId}
          and data_state = 'U'
          and is_feedback = '2'
    </select>

</mapper>