
/*
 底部 button
<div id="bottom">
    <button id="next-button" class="layui-btn layui-btn-lg" onclick="submit('page_1')">完成</button>
    <button id="prev-button" class="layui-btn layui-btn-lg" onclick="prev('prev')">
        <span style="color:#F65543;">上一步</span></button>
</div>

*/
#bottom{
    position: relative;
    top: 17px;
    width:99.3%;
    height: 40px;
}

#next-button{
    position: fixed;
    bottom:5px;
    right: 10px;
    width: 200px;
    float: right;
    background: #F65543;
}

#prev-button{
    position: fixed;
    bottom:5px;
    right: 210px;
    width: 200px;
    float: right;
    margin-right: 20px;
    border: 1px solid #F65543;
    background: #F8F8F8;
}

