body{font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed","微软雅黑";}
/********************NAVBAR*****************************/
.navbar{height: 60px; background-color: #042734; position: fixed; width: 100%; top:0; z-index: 100;}
.logo{padding-left:48px;}
.logo .img{background: url(../images/darkskin/logo.png) no-repeat center; width:36px; height: 24px; margin: 16px 0 0 0; float: left;}
.logo .text{background: url(../images/darkskin/logo_word.png) no-repeat center; width: 79px; height: 24px; float: left;  margin: 16px 0 0 10px;}
.nav{float:left;}
.navbar .menu{float:left; margin:0 0px 0 58px; padding:0;}
.navbar .menu li{float:left; filter:Alpha(opacity=50); opacity: 0.5; height:36px; line-height:40px; color:#ffffff; list-style:none; padding:0px 0 0 0px; text-align:left; margin:10px 0px 10px 50px; font-size:14px; border-bottom:4px solid transparent;}
.navbar .menu li:first-child{margin-left: 0;}
.navbar .menu li a{color:#ffffff; text-decoration:none; display: inline-block;}
.navbar .menu li .layui-icon{font-weight: bold; display: inline-block; vertical-align: sub;}
.navbar .menu li:hover,.navbar .menu li.active{color:#ffffff; filter:Alpha(opacity=100); opacity: 1; border-bottom: 4px solid #ffffff;}
.navbar .menu li a.active,.navbar .menu li a:active,.navbar .menu li.active{color:#ffffff; filter:Alpha(opacity=100); opacity: 1;}


.navbar .menu li .text{margin-left:8px; display: inline-block; }
.navbar .menu li .layui-icon.etl{background:url(../images/darkskin/top_ic_etl.png) no-repeat center; width: 18px; height: 18px;}
.navbar .menu li .layui-icon.task{background: url(../images/darkskin/top_ic_zuoyediaodu.png) no-repeat center; width:18px; height:17px; margin-top: 0px;}
.navbar .menu li .layui-icon.bi-analysis{background: url(../images/darkskin/top_ic_shujufenxi.png) no-repeat center; width: 18px; height: 18px;}

.navbar .tip{position:absolute; right: 26px; top:20px; color:#ffffff;}
.navbar .tip > div{float:left; margin-right: 10px;}
.navbar .tip a{color:#ffffff;}
.navbar .tip > div .layui-icon{margin-top: 4px; font-size: 12px; display: inline-block; font-weight: bold;}
.navbar .tip div img{border-radius: 18px; -moz-border-radius: 18px; -webkit-border-radius: 18px; margin-top: -10px;}

/********************END NAVBAR*****************************/

/********************SIDE MENU*****************************/
.sidebar{width:100%; background-color: #232730; position: fixed; top: 0px; min-height: 100%; font-size: 14px; color:#dadada;}
.sidebar a{color:#dadada; font-size: 14px;}
.side_menu{padding:0 0px;}
.side_menu > li{min-height:40px; line-height: 40px; padding:0 20px;}

.side_menu > li a{height:40px; line-height: 40px; width: 100%; display: inline-block; position: relative; white-space: nowrap;}
.side_menu > li.active > a,.side_menu > li > a:hover{color:#ffffff;}
.side_menu > li.active .icon-else,.side_menu > li:hover .icon-else{background: url(../images/darkskin/nav_icon_shujucangkuguanli_chosen.png) no-repeat center;}
.side_menu > li.active .icon-manage,.side_menu > li:hover .icon-manage{background: url(../images/darkskin/nav_icon_peizhiguanli_chosen.png) no-repeat center;}
.side_menu > li.active .icon-data2,.side_menu > li:hover .icon-data2{background: url(../images/darkskin/nav_icon_shujudaochuguanli_chosen.png) no-repeat center;}
.side_menu > li.active .icon-apply,.side_menu > li:hover .icon-apply{background: url(../images/darkskin/nav_icon_shenpiguanli_chosen.png) no-repeat center;}
.side_menu > li.active .icon-system,.side_menu > li:hover .icon-system{background: url(../images/darkskin/nav_icon_xitongguanli_chosen.png) no-repeat center;}
.side_menu > li.active .icon-datalx,.side_menu > li:hover .icon-datalx{background: url(../images/darkskin/nav_icon_nxgc_chosen.png) no-repeat center;}

.side_menu > .has_sub > .sub{display: none; padding-left:52px;}
.side_menu > .has_sub > .sub > li > a{color:#707880;}
.side_menu > .has_sub > .sub > li.active > a{color:#ffffff;}
.side_menu > .has_sub > .sub > li:hover > a{color:#ffffff;}
.side_menu > li .icon-op{background: url(../images/darkskin/nav_ic_unfold.png) no-repeat center;}
.side_menu > li.active .icon-op{background: url(../images/darkskin/nav_ic_fold.png) no-repeat center;}
.side_menu > li.active{background-color: #2c343b;}
.side_menu > .has_sub.active > .sub{display: block;}

.side_menu .layui-icon{display: inline-block; width: 18px; height: 18px; margin-top: 4px; margin-right: 20px; vertical-align: sub;}
.side_menu .icon-op{position: absolute; top: 6px; right: -20px;}
.sidebar-slide{height:50px; line-height: 50px; text-align: center; font-weight: bold; background-color:#4c535b;}
.sidebar-slide a{height:50px; width: 100%; display: inline-block;}
.sidebar-slide .layui-icon{display: inline-block;}
.sidebar-slide i.close{animation:slide_close 0.3s forwards;}
.sidebar-slide i.open{animation:slide_open 0.3s forwards;}
@keyframes slide_close {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
}

@keyframes slide_open {
    0% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
}

/********************END SIDE MENU*****************************/

/********************MAIN BODY*****************************/
.display-none{display: none;}
.container{margin:60px 0px 0 0; padding:0 0; width:100%; position:relative;}
.main_body{margin-left:220px;    background: #F8F8F8;}
.body-top{color:#aeaec1; background: #fff;height: 60px; line-height: 60px; border-bottom:1px solid #e5e5e5;}
.body-top .breadcrumb{margin-left:20px;}
.body-top .breadcrumb li{float: left; margin-left:10px; background: url(../images/darkskin/breadcrumbs_arrow.png) no-repeat left center; padding-left:14px;}
.body-top .breadcrumb li:first-child{margin-left: 0; background: none; padding-left: 0;}
.body-top .breadcrumb li a{color:#242430;}
.body-top .breadcrumb li a:hover{color:#0f74ce;}
.body-top .breadcrumb li.cite a{color:#242430;}

.table_box{margin:20px; border:1px solid #e5e5e5; background: #fff; border-radius: 4px;}
.table_box .box_head{height:39px; padding:10px 20px 10px 20px; border-bottom: 1px solid #e5e5e5; position: relative;}
.table_box .box_head .box_title{border-left:2px solid #20d071; padding-left:10px; margin-top:11px; height: 16px; line-height: 16px; font-size: 14px; color:#888888; float: left;}
.tool-box{position: absolute; right:20px; top:10px;}
.tool-box .tool-btn{width: 90px; padding-right: 0; margin-right: 0;}
.input_search{min-width: 298px;}
.table_box .box_table{box-sizing:border-box; }
.table_box > .box_table .table{width:100%; padding:0 20px; table-layout: fixed;}
.table_box > .box_table .table thead tr{height:40px; border-bottom: 1px solid #e5e5e5;}
.table_box > .box_table .table thead tr th{font-size: 14px; color:#000000; font-weight: bold; text-align: center; white-space: nowrap;}
.table_box > .box_table .table thead tr th:first-child{margin-left:20px; padding-left:20px;}
.table_box > .box_table .table tbody tr{height:53px; border-bottom: 1px solid #e5e5e5;}
.table_box > .box_table .table tbody tr td{height:53px; line-height:53px;font-size: 16px; padding:0 10px; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color:#a2a2a6;}
.table_box > .box_table .table tbody tr td:first-child{ padding-left:20px;}
.table_box > .box_table .table tbody tr td a{color:#3c8aff;}
.table_box > .box_table .table tbody tr td a:hover{color:#3c8aff; text-decoration: underline;}
.table_box .box_footer{height: 60px; position: relative;}
.table_box .box_footer > div{float:left;}
.table_box .box_footer .message{margin-left:20px; margin-top:10px; height: 40px; line-height: 40px;}
.table_box .box_footer .pagination{position: absolute; right: 20px; top:5px; }
.table_box .box_footer .pagination .btn{display: inline-block; position: relative; right:145px;}
.table_box .box_footer .pagination .page-info{display: none; margin-left: 5px; position: absolute; width: 120px;top:12px; right: 20px;}
.table_box .box_footer .pagination .page-info div{float:left; height: 30px; line-height: 26px; margin-left: 5px; font-size: 12px;}
.table_box .box_footer .pagination .page-info div input.layui-input{width:30px; height: 30px; line-height: 30px; margin-top: -2px; padding:0 4px; text-align: center; font-size: 12px;}
.table_box .box_footer .pagination .page-info div input.layui-btn{height: 30px; font-size: 12px;}


.layui-layer-content .container{margin:0;padding:0;}
.page-info .curr-page input{color:#00B7F0;}

/********************END MAIN BODY*****************************/

/**********提示信息***********/
.message-box{position:absolute; z-index: 29891015; min-width: 300px; max-width:500px; padding:12px 14px 12px 14px; left:400px; top:200px; background:#ffffff; border: 1px solid #dddddd; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow: 0 0 50px -3px rgba(27,35,53,0.5);}
.message-box .content{width: 100%; margin: 0 auto;}
.message-box .content .img{ width:34px; height:34px; float: left;}
.message-box .content .img.success{}
.message-box .content .img.error{}
.message-box .content .text{padding:10px 10px 10px 0; display: inline-block; font-size: 16px; min-height: 34px; line-height: 24px; text-align: center; width: 100%;}
.message-box .content .text img{margin-right:10px;}
/*
.message-box .content .text.success{background:url(../images/ICON_success.png) no-repeat left center;}
.message-box .content .text.error{background:url(../images/ICON_error.png) no-repeat left center;}
.message-box .content .text.waring{background:url(../images/icon_waring.png) no-repeat left center;}
*/
/**********END 提示信息***********/

/**********错误信息***********/
.error-box{position:absolute; z-index: 29891016; width:436px; padding: 0px; left:400px; top:200px; background:#fafafa; border: 1px solid #d2d2d2; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow: 0 0 50px -3px rgba(27,35,53,0.5);}
.error-box .header{height:44px; background-color:#ececec; padding:10px; position: relative; text-align: left;
    border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom:1px solid #d2d2d2; font-weight: bold;}
.error-box .header .tools{position: absolute; right: 10px; top:10px;}
.error-box .header .tools .close{filter: alpha(opacity=100); opacity: 1; margin-top:4px; width:14px; height:14px; background:url(../images/ICON_13.png) no-repeat center;}
.error-box .header .tools .close:hover{background:url(../images/ICON_13-1.png) no-repeat center;}
.error-box .content{text-align: center; padding:30px 10px; font-size: 16px; color:#666;}
.error-box .content img{margin-right:10px;}
.error-box .footer{height:46px; line-height: 25px; color:#666; text-align: right; border-top:1px solid #d2d2d2; padding:10px 10px;}
.error-box .footer a{color:#666;}
.error-box .error-info{padding:10px; overflow: auto; max-height: 240px; display: none;}
/**********END 错误信息***********/

.border-d2{border-bottom:1px solid #d2d2d2; border-left:none; border-right:none;}
.log-input{float: left;width:150px;margin-left: 10px;}
.log-label{float: left;line-height: 36px;font-weight: bold;}
.log-details-input{background: #ececec;color:#888888;overflow: hidden;text-overflow: ellipsis;}
.log-primary{background-color:#00b063;color: #fff; border:1px solid #00b063;height:34px;width:62px ;border-radius: 2px;}
.export-input{float: left;width:380px;background: #ececec;color:#888;}
.export-input-create{float: left;width:380px;}
.serch_span{
	position: absolute;
     right: 5px;
    top: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(../images/darkskin/search_ic_search.png) no-repeat;
}
.select_span{
	position: absolute;
     right: 10px;
    top: 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(../images/darkskin/top_ic_date_icon.png) no-repeat;
	
}
.date_item_show{
	    width: 260px;
    position: absolute;
    z-index: 99;
    padding: 5px 0;
    margin: 2px 0 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    }

.icon-else{background: url(../images/darkskin/nav_icon_shujucangkuguanli_normal.png) no-repeat center;}
.icon-else.active,.icon-else:hover{background: url(../images/darkskin/nav_icon_shujucangkuguanli_chosen.png) no-repeat center;}
.icon-manage{background: url(../images/darkskin/nav_icon_peizhiguanli_normal.png) no-repeat center;}
.icon-manage.active,.icon-manage:hover{background: url(../images/darkskin/nav_icon_peizhiguanli_chosen.png) no-repeat center;}
.icon-data2{background: url(../images/darkskin/nav_icon_shujudaochuguanli_normal.png) no-repeat center;}
.icon-data2.active,.icon-data2:hover{background: url(../images/darkskin/nav_icon_shujudaochuguanli_chosen.png) no-repeat center;}
.icon-apply{background: url(../images/darkskin/nav_icon_shenpiguanli_normal.png) no-repeat center;}
.icon-apply.active,.icon-apply:hover{background: url(../images/darkskin/nav_icon_shenpiguanli_chosen.png) no-repeat center;}
.icon-system{background: url(../images/darkskin/nav_icon_xitongguanli_normal.png) no-repeat center;}
.icon-system.active,.icon-system:hover{background: url(../images/darkskin/nav_icon_xitongguanli_chosen.png) no-repeat center;}
.icon-datalx{background: url(../images/darkskin/nav_icon_nxgc_normal.png) no-repeat center;}
.icon-datalx.active,.icon-datalx:hover{background: url(../images/darkskin/nav_icon_nxgc_chosen.png) no-repeat center;}
.icon-plus{background: url(../images/darkskin/nav_ic_unfold.png) no-repeat center; width: 14px; height: 14px;}

.icon-info{background: url(../images/darkskin/operate_ic_info_normal.png) no-repeat center; width: 16px; height: 16px; margin-right: 10px;}
.icon-info:hover{background:url(../images/darkskin/operate_ic_info_chosen.png) no-repeat center;}
.icon-edit{background: url(../images/darkskin/operate_ic_edit_normal.png) no-repeat center; width: 16px; height: 16px; margin-right: 10px;}
.icon-edit:hover{background:url(../images/darkskin/operate_ic_edit_chosen.png) no-repeat center;}
.icon-delete{background: url(../images/darkskin/operate_ic_delete_normal.png) no-repeat center; width: 16px; height: 16px; margin-right: 10px;}
.icon-delete:hover{background:url(../images/darkskin/operate_ic_delete_chosen.png) no-repeat center;}
.icon-check{background: url(../images/darkskin/operate_ic_shenpi_normal.png) no-repeat center; width: 16px; height: 16px;}
.icon-check:hover{background:url(../images/darkskin/operate_ic_shenpi_chosen.png) no-repeat center;}
.icon-cancel{background: url(../images/darkskin/operate_ic_revocation_normal.png) no-repeat center; width: 16px; height: 16px;}
.icon-cancel:hover{background:url(../images/darkskin/operate_ic_revocation_chosen.png) no-repeat center;}
.icon-mapped{background: url(../images/darkskin/operate_ic_mapping_normal.png) no-repeat center; width: 16px; height: 16px;padding-left:10px;}
.icon-mapped:hover{background:url(../images/darkskin/operate_ic_mapping_chosen.png) no-repeat center;}
.icon-require{background: url(../images/darkskin/important.png) no-repeat center; width: 14px; height: 12px; margin-left:2px;}
.icon-funnel{background:url(../images/icon_funnel.png) no-repeat center; width:20px; height: 13px; margin-top: -10px;}
.icon-funnel:hover{background:url(../images/icon_funnel_hover.png) no-repeat center;}
.icon-funnel.active{background:url(../images/icon_funnel_hover.png) no-repeat center;}
.icon-star{background: url(../images/darkskin/operate_ic_shenpi_normal.png) no-repeat center; width: 16px; height: 16px; margin-right: 10px;}
.icon-star:hover{background:url(../images/darkskin/operate_ic_shenpi_chosen.png) no-repeat center;}
.icon-quit{background: url(../images/darkskin/operate_ic_revocation_normal.png) no-repeat center; width: 16px; height: 16px; margin-right: 10px;}
.icon-quit:hover{background:url(../images/darkskin/operate_ic_revocation_chosen.png) no-repeat center;}

.icon-search{background:url(../images/darkskin/search_ic_search.png) no-repeat ;}
.icon-on{background:url(../images/darkskin/switch_on.png) no-repeat ;    width: 40px;height: 25px;}
.icon-off{background:url(../images/darkskin/switch_off.png) no-repeat ; width: 40px;height: 25px;}
.icon-project-ct{ width:74px ;height: 74px;margin: 20px 14px 0 20px;;background: url(../images/darkskin/icon_xiangmushuliang.png) no-repeat;}
.icon-config-ct{width:74px ;height: 74px;margin: 20px 14px 0 20px;background: url(../images/darkskin/icon_peizhishuliang.png) no-repeat;}
.icon-config-use-ct{width:74px ;height: 74px;margin: 20px 14px 0 20px;background: url(../images/darkskin/icon_peizhishiyongcishu.png) no-repeat;}
.icon-congig-use-perct{width:74px ;height: 74px;margin: 20px 14px 0 20px;background: url(../images/darkskin/icon_pingjunmeige.png) no-repeat;}




.layui-layer-content{background-color: #fff}
.layui-form-switch { width: 20px;border: 2px solid #00B8F2;height: 17px;}
.layui-form-switch i {background-color: #00B8F2; left: 3px;   width: 12px;height: 12px;}
.layui-form-onswitch {border: 2px solid #B9B9B9;background-color:#fff}
.layui-form-onswitch i {background-color: #B9B9B9;left:15px;}
.layui-form-onswitch:before{content:""}


/**********审批详情***********/
.box-table-apply{}
.box-table-apply .table{border-left: 1px solid #d2d2d2; border-top:1px solid #d2d2d2;width:100%}
.box-table-apply .table thead tr th{border-right: 1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; background: #f3f3f3; height: 36px; line-height: 24px;}
.box-table-apply .table tbody tr th{border-right: 1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; background: #f3f3f3; height: 36px; line-height: 24px;}
.box-table-apply .table tbody tr td{border-right: 1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; height: 36px; line-height: 24px;padding: 0 10px}
.box-table-apply .table tbody tr .field-name{width:110px; text-align: right;padding-right:10px;}
.box-table-apply .table > thead > tr:first-child th{text-align: center; background: #ececec;}
.box-table-apply .table tbody tr td.change{background: #faecef; color: #f06474;}

.box-table-apply .table tbody tr td .inner-table{border:none;width:100%;}
.box-table-apply .table tbody tr td .inner-table thead tr th{border-bottom:none; border-right: none; text-align: left; background: none; color: #999999; font-weight: normal;}
.box-table-apply .table tbody tr td .inner-table tbody tr td{border-right:none;}
.box-table-apply .table tbody tr td .inner-table tbody tr:last-child td{border-bottom: none;}
.box-table-apply .table tbody tr td .inner-table tbody tr.change td{background: #faecef; color: #f06474;}
/**********END 审批详情***********/


.widget{position:absolute; width:72px; height:44px; display:none;}
.widget.edit{background:url(../images/ICON_comile2.png) no-repeat center;}
.widget.info{background:url(../images/ICON_6.png) no-repeat center;}
.widget.delete{background:url(../images/ICON_10.png) no-repeat center;}
.widget.apply{background:url(../images/apply_tip.png) no-repeat center;}
.widget.quit{background:url(../images/pro_withdraw.png) no-repeat center;}
.widget.convert{background:url(../images/ICON_mapper3.png) no-repeat center;}

.input_field_name{width:95%;}
.input_field_desc{width:95%;}
.input_partition_name{width:95%}

.select_page_size{
	margin-left: 10px;
    margin-right: 10px;
    width: 60px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #a2a2a6;
}

.link_cur_position {color:#333333;}
.link_cur_position:hover{color:#0f74ce;}

.select_type_show{}
.select_type_show:hover{background-color: #3c8aff;color: #fff;}
.select_type_show.active{background-color: #3c8aff;color: #fff;}
.details_style{padding: 10px 35px 20px 40px; background-color: #fff;}
.select-calendar{background-image:url(../images/darkskin/icon_calendar.png);background-repeat: no-repeat; background-position: 95% center;}
.change{background: #faecef; color: #f06474;}
.top_tool_area{    background: #fff;height:212px;margin:20px;border: 1px solid #e5e5e5;border-radius: 4px;}
    	
.abox_title{    
	border-bottom: 1px solid #e5e5e5;
    height: 40px;
    padding: 10px 20px;
    position: relative;
}

.box_title_area{
	border-left: 2px solid #20d071;
    color: #888888;
    float: left;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    margin-top: 11px;
    padding-left: 10px;
}
.tool_area_content{
	height:170px;
	width:100%;
}
.content_item{
	width:220px;
	height:112px;
	float:left;
	border:1px solid #e5e5e5;
	border-radius:4px;
	margin:20px 10px 20px 20px;;
}

.span-item{display: inline-block;width: 106px;margin-top: 20px;}
.span-item-num{font-size: 12px;color: #979090;display: inherit;}
.span-num{font-size: 30px;color: #232730;display: block;}
.span-fild-list{background-color: #e4e4e4;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;}
.select_show{
	display:none;
	width: 115px;
	height: 75px;
	position: absolute;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	border-radius: 5px;
	margin-left: 20px;
	color: #a2a2a6;
	font-weight:normal
}



.error-span{
 display: none;font-weight: normal; left: 40px; top:36px; height:16px; line-height: 16px; padding-left:20px; text-align: left; color:#f06474;
}


.long_text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

/****************下拉菜单*****************/
.dropdown-menu{position:absolute; top:42px; display: none; padding:5px 0; background: #ffffff; box-shadow: 0 2px 4px rgba(0, 0, 0, .12); z-index: 999; width:100%; border:1px solid #d2d2d2; box-sizing: border-box;}
.dropdown-menu li{padding: 0 10px; line-height: 36px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor:pointer;}
.dropdown-menu li a{width:100%;}
.dropdown-menu li:hover{background-color:#f2f2f2;}
.dropdown-menu li.active{background-color: #5FB878; color:#ffffff;}
.dropdown-menu li.active a{color:#ffffff;}
/****************END 下拉菜单*****************/

/****************DIALOG*****************/
.sub-title{position:relative; font-size:18px; color:#66b7f0; border-bottom:1px solid #f1f1f1; width:97.5%; height: 40px; line-height: 30px; margin-bottom:5px;}
.dialog-table{width:97.5%;}
.dialog-table thead tr th{border-bottom:1px solid #f1f1f1; height: 26px; padding:10px 0;}
.dialog-table thead tr th.text-left{text-align: left;}
.dialog-table thead tr th:first-child,
.dialog-table tbody tr td:first-child{padding-left:10px;}
.dialog-table thead tr th:last-child,
.dialog-table tbody tr td:last-child{padding-right:10px;}
.dialog-table thead tr:first-child th{border-bottom:1px solid #bcbcbc;}
.dialog-table tbody tr td{border-bottom:1px solid #f1f1f1; padding: 10px 10px;}
.dialog-table tbody tr td.text-center{text-align: center;}
.tools{position:absolute; right:0; top:0; font-size:14px;}
.tools button{padding:5px 12px; height: 30px;}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fafafa;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}
.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}
textarea.form-control {
    height: auto;
}



