body{margin:0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,微软雅黑}
svg{overflow: hidden;}
svg *{user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;}
.table-box .box{stroke:#e9e9e9; stroke-width: 1px; fill:#fff; fill-opacity: 1; }
.table-box .table-title{fill:#f9f9f9; fill-opacity: 1; cursor: move; stroke:#e9e9e9; stroke-width: 1px;}
.table-box .title-text{fill:#333333; text-align: center; font-size: 14px; font-family: "sans-serif", "微软雅黑"; font-weight: bold; cursor: move; }
.table-box .item{ fill:#ffffff; fill-opacity: 1; cursor: pointer; stroke:#e9e9e9; stroke-width: 1px;}
.table-box .txt{font-size: 12px; fill:#888888; font-weight: normal; cursor: pointer; }
.table-box .item-style{fill:#fbfbfb;}
.table-box.resource .box{}
.table-box.resource .table-title{fill:#fbfbfb; }
.table-box.resource .item{}
.table-box.resource .rule-btn{fill:#ff6666; cursor: pointer;}
.table-box.resource .rule-txt{fill:#ffffff; font-size: 10px; cursor: pointer;}

.table-box.target .box{stroke: #b2e8f3;}
.table-box.target .table-title{fill:#f6fdff; stroke: #b2e8f3;}
.table-box.target .rule-btn{fill:#38ae67; cursor: pointer;}
.table-box.target .rule-txt{fill:#ffffff; font-size: 10px; cursor: pointer;}
.table-box.target .item{stroke: #b2e8f3;}
.table-box.target .item-style{fill:#f6fdff;}
.table-box.resource .related .item-style{fill:#ff6666;}
.table-box.resource .select .txt{fill:#00caf4;}
.table-box.target .select .item-style{fill:#00caf4;}

.line{fill:#00caf4; stroke: #00caf4; stroke-width: 2px; cursor: pointer;}
.arrow-blue{fill:#00caf4;}
.line.resource{stroke: #ff6666;}
.arrow-red{fill:#ff6666;}

.database{padding:0;}
.database div,.table-area div{padding-right: 0; }
.database > div,.table-area > div{margin-bottom: 0px; display: inline;}
.tables > div{margin-bottom: 10px; padding-left:0;}
.tables div div{padding:0;}
.graph-box{width:100%; height: 446px; overflow-y: auto;}
.svg-work-space{position:absolute; left: 20px; top: 20px; background: #e5e5e5; color:#888888; font-size: 14px; width: 70px; height:28px; line-height: 28px; border-radius: 2px; text-align: center;}

.table-w-150{width: 150px;}
.layui-form-label.on{width: 56px; padding-left:0; padding-right: 10px;}
.layui-form-label.equals{width: 12px; padding-left:0; padding-right: 2px;}
.layui-form-label.tablea,.layui-form-label.tableb{width: auto; padding-left:10px; padding-right:10px;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background-color:#f0f0f0; border-radius: 4px;}
.layui-form-label.select-label,.layui-form-label.as-label{width:auto; padding-left:0; padding-right: 0px;}
.target-rule .layui-form-item .layui-input-inline{margin-right:10px;}
.target-rule .layui-form-item .layui-input-inline:last-child{margin-right: 0;}
.target-rule .layui-form-item .select-item,
.target-cols-info .layui-form-item .select-item{width:auto; padding-left:2px; padding-right:2px;}
.target-cols-info .form-row .layui-form-item .layui-input-inline{display: -webkit-box; box-sizing: border-box;}
.target-cols-info .form-row .layui-form-item{}
.target-property .layui-form-item .target-title{width:70px;}
.target-property .layui-form-item .input-op{width:480px;}
.layui-form-label.field-name{width:150px; text-align: left;}
.layui-form-label.field-type{width:110px; text-align: center;}
.target-property .layui-form-item .partition-exp-div{width:310px;}
.layui-form-label.hive-index,.layui-form-label.hive-field,.layui-form-label.hive-type{width:90px; padding-left:2px; padding-right:2px;}
.layui-form-label.hive-index{text-align: center;}
.layui-form-label.hive-field,.layui-form-label.hive-type{text-align: left;}
.layui-form-label.hive-field{width:106px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.target-property .layui-form-item .is-key,
.target-property .layui-form-item .not-null{width:80px; padding-left:2px; padding-right:2px; margin-right:2px;}
.target-property .layui-form-item .handle-type{width:120px; padding-left:0; padding-right:0;}
.layui-form-label.banner-text{height: 30px; line-height:20px;}
