@CHARSET "UTF-8";

    
.top_tool_area{  background: #fff;height:212px;margin:20px;border: 1px solid #e5e5e5;border-radius: 4px;}
    	
.abox_title{    
	border-bottom: 1px solid #e5e5e5;
    height: 40px;
    padding: 10px 20px;
    position: relative;
}

.box_title_area{
	border-left: 2px solid #20d071;
    color: #888888;
    float: left;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    margin-top: 11px;
    padding-left: 10px;
}
.tool_area_content{
	height:170px;
	width:100%;
}
.content_item{
	width:232px;
	height:112px;
	float:left;
	border:1px solid #e5e5e5;
	border-radius:4px;
	margin:20px;
}
span.item_img{
	margin: -30px 14px 0 20px;
	display: inline-block;
	width:74px ;
	height: 74px;
 	vertical-align: middle;
}
span.db_img{
	background: url(../images/darkskin/icon_shujukushuliang.png) no-repeat;
}
span.tb_img{
	background: url(../images/darkskin/icon_shujubiaoshuliang.png) no-repeat;
}
span.item_num{
	font-size: 30px;
	color: #232730;
	width: 70px;
	height: 40px;
	display: inline-block;
}
span.item_des{
	font-size: 12px;
	color: #979090;
}
span.item_detail{
	display: inline-block;
	width: 60px;
	margin-top: 20px;
}