html,
body {
	margin: 0;
	padding: 0;
}

.main {
	height: 100%;
}

.body {
    margin-left: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 25px);
    box-sizing: border-box;
}

.content-html {
	min-width: 1120px;
	overflow: auto;
}

span,
td {
	color: #fff;
	font-size: 12px;
}

dd,
h3,
h4 {
	color: #fff;
}

footer {
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	bottom: 10px;
}

footer .copyright {
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
}

.wrapper {
	margin: 25px 30px 30px 20px;
}

.content {
	overflow: hidden;
	height: 100%;
}

.content .login_info_main {
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-shadow: 0 0 5px #eee;
	background: url('../images/loginback.png') no-repeat center;
	background-size: 100% 100%;
}

.content .login_info_main .login_info_main_title {
	margin-top: 100px;
	width: 506px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	background: url('../images/icon_menu.png') no-repeat center;
}

.content .login_info_main .account-associated {
	position: absolute;
	right: 50px;
	top: 30px;
	font-size: 20px;
	color: #fff;
}

.content .login_info_main .account-associated .register-now {
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 4px;
	color: #fff;
}

.content .login_info_main .account-associated .register-now:hover {
	text-decoration: none;
	color: #000;
}

.content .login_info_main .login_info_main_content {
	width: 400px;
	margin: 0 auto;
	margin-top: 6%;
	background-color: #fff;
	padding: 40px;
	border-radius: 5px;
}

.content .login_info_main input {
	line-height: 36px;
	border-radius: 8px;
	border: 1px solid #d7d7d7;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.content .login_info_main .check-validate {
	position: relative;
}

.content .login_info_main .check-validate .code-validate {
	position: absolute;
	right: 20px;
	top: 3px;
}

.content .login_info_main .check-validate img {
	cursor: pointer;
}

.content .login_info_main .other-option .checkbox {
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
}

.content .login_info_main .other-option label {
	font-size: 16px;
	font-weight: lighter;
}

.content .login_info_main .login-btn {
	font-size: 16px;
}

.item {
	overflow: hidden;
	padding: 1%;
	border-top: 1px solid #1483a8;
}

.item .row span {
	vertical-align: bottom;
}

.item .row img {
	margin-top: 2px;
	height: 12px;
}

.item .specific-custom i {
	display: inline-block;
	margin-right: 5px;
	float: right;
	width: 10px;
	height: 10px;
}

.item .specific-custom i.normal {
	background-color: #3c932b;
}

.item .specific-custom i.more {
	background-color: #f18939;
}

.item .specific-custom i.alot {
	background-color: #d2393b;
}

.style1 h4.title {
	float: left;
	width: 40px;
	font-size: 16px;
	margin-top: 10px;
}

.style1 .content span {
	font-size: 12px;
	padding: 0;
}

.content span {
	font-size: 12px;
	color: #fff;
}

.content .normal {
	background-color: #2f7c3c;
}

.content .crowded {
	background-color: #ecb02f;
}

.content .gathered {
	background-color: #f83106;
}

.content .container-fluid {
	margin-top: 10px;
}

.style2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.style2 .inline-block-1-2 {
	text-align: center;
}

.style2 .inline-block-1-2 p {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.style2 .inline-block-1-2 a {
	color: #fff;
	font-size: 12px;
}

.style2 .inline-block-1-2 a:hover {
	color: #23ccdd;
}

.style2 .inline-block-1-2 h4 a {
	font-size: 14px;
}

.head span {
	color: #fff;
	margin-left: 10px;
	font-size: 14px;
	line-height: 25px;
	vertical-align: middle;
	position: relative;
    top: -10px;
}

.toggle-box table td {
	text-align: center;
}

.table {
	border-collapse: separate;
	border-spacing: 0px 14px;
}

.table tbody tr td {
	border: none;
}

.normal {
	background-color: #3c932b;
}

.more {
	background-color: #f18939;
}

.alot {
	background-color: #d2393b;
}

.baidu-map {
	position: relative;
}

.baidu-map .btn-group {
	position: absolute;
	top: 12.5%;
	right: 2.5%;
}

.baidu-map .btn-group button {
	height: 24px;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 13px;
	border: 0;
	background-color: #3f4554;
	margin-left: 5px;
	margin-right: 5px;
}

.baidu-map .btn-group button.selected {
	background-color: #0698e2;
}

.pager {
	bottom: 0;
	width: 100%;
}

.pager button {
	border-radius: 4px;
    width: 65px;
    line-height: 28px;
    background-color: #26c7cc;
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    color: #fff;
}

.pager button:focus,
.pager button:active:focus {
	outline: none;
}

.pager button.disabled {
    background-color: transparent;
    cursor: default;
    /* border: 2px solid #575c62; */
    font-size: 14px;
    color: #8acbf5;
}

.padding-left-16 {
	padding-left: 16px;
}

.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}

.clearfix::after {
	clear: both;
}

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}

.martop20 {
	margin-top: 20px;
}

.martop5 {
	margin-top: 5px;
}

.text-center {
	text-align: center;
}

.layui-form-item .layui-input-inline {
	width: 183px;
}

.layui-input-inline .layui-form-label {
	color: #fff;
}

.layui-input-inline .layui-select-title input {
	border-radius: 4px;
	background-color: rgba(255,255,255,0.1);
	color: #fff;
	border: 1px solid #5a7b99;
}

.layui-input-inline .layui-form-select .layui-anim-upbit {
	background-color:#28446A;
	border: 1px #6b8ead solid;
}

/*滚动条整体样式*/
.layui-input-inline .layui-form-select .layui-anim-upbit::-webkit-scrollbar {
	width: 6px;     
}

/*滚动条里面轨道*/
.layui-input-inline .layui-form-select .layui-anim-upbit::-webkit-scrollbar-track {
	width: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.1);
	background: #1B3557;
}

/*滚动条里面小方块*/
.layui-input-inline .layui-form-select .layui-anim-upbit::-webkit-scrollbar-thumb {
	width: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.1);
	background: #27a9fd;
}

.layui-input-inline .layui-form-select .layui-anim-upbit .layui-this {
	background-color: #3bd5fd;
	color: #fff;
}

.layui-form-select dl dd:hover {
    background-color: #3bd5fd;
}

.layui-input-inline .layui-form-select .layui-anim-upbit dd {
	color: #dfdfdf;
}

.layui-input-inline .layui-form-select .layui-anim-upbit dd:hover {
	color: #fff;
}

.layui-input-inline .laydate-icon {
	background-color: transparent;
	background-position: 90% center;
	color: #fff;
	padding-right: 0;
}

.layui-form-item .layui-input-inline {
	margin-right: 20px;
}

.layui-input-inline input {
	width: 183px;
}

.layui-input, .layui-select, .layui-textarea {
    height: 32px;
    line-height: 32px;
}

.layui-btn-normal {
    background-color: #26c7cc;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    width: 74px;
    height: 32px;
    line-height: 30px;
}

.layui-breadcrumb {
	margin-left: 10px;
	color: #fff;
	visibility: visible;
}

.layui-breadcrumb a:hover {
	text-decoration: none;
}

.layui-breadcrumb a cite {
	color: #999999;
}

.layui-form-label {
	color: #fff;
	padding: 0;
	text-align: left;
}

.layui-form-label, .layui-form-mid, .layui-textarea {
    line-height: 30px;
}

.layui-form-radio {
	float: left;
    line-height: 30px;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 0;
}

.layui-form-radio i {
    margin-right: 10px;
}

.text-glow {
	color: #fff;
	text-shadow: 0 0 0.5em #dfdfdf, -0 -0 0.5em #dfdfdf;
}

table {
	table-layout: fixed;
}