#dialog_config_detail{}
#dialog_config_detail .modal-dialog{width: 90%; margin: 20px auto;}
#dialog_config_detail .error-span{left:31%;}
#dialog_config_detail .form-group{margin-bottom: 0px; padding-bottom: 0;}