<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口基本信息</title>
    <meta http-equiv="refresh" content="1800"/>
    <link rel="stylesheet" href="./static/plugins/layui/css/layui.css" />
    <link rel="stylesheet" href="./static/css/baseInfo.css" />

    <style>
        .layui-form-label{
            width: 140px;
            padding-right: 27px;
        }
        .clearAdd, .clearEdit{
            width: 200px;
            display: inline-block;
        }
    </style>
</head>
<body>
<!-- 搜索框 -->
<div class="demoTable layui-form" style="margin-top: 5px;">
    &nbsp;
    <div class="layui-inline">
        <input class="layui-input" name="id" id="demoReload" autocomplete="off" placeholder="模糊查询">
    </div>
    <div style="width: 170px;" class="layui-input-inline">
        <select lay-search name="" id="interfaceType" pm_id="interfaceType"
                lay-filter="interfaceType">
            <option value="-1">全部接口类型</option>
            <option value="1">实时</option>
            <option value="2">文件</option>
        </select>
    </div>
    <div style="width: 170px;" class="layui-input-inline">
        <select lay-search name="" id="interfaceDealType" pm_id="interfaceDealType"
                lay-filter="interfaceDealType">
            <option value="-1">全部文件处理类型</option>
            <option value="1">上传</option>
            <option value="2">下载</option>
        </select>
    </div>
    <div style="width: 170px;" class="layui-input-inline">
        <select lay-search name="" id="interfaceCycle" pm_id="interfaceCycle"
                lay-filter="interfaceCycle">
            <option value="-1">全部运行周期</option>
            <option value="1">日</option>
            <option value="2">周</option>
            <option value="3">月</option>
            <option value="4">临时</option>
        </select>
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
    <button class="layui-btn" data-type="add">添加</button>
    <button class="layui-btn" data-type="getCheckData">删除</button>
</div>

<table class="layui-hide" id="baseInfo" lay-filter="baseInfo"></table>

</body>
</html>

<!-- 工具条 -->
<script type="text/html" id="barBaseInfo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<div style="display: none" id="insertBaseInfo">
    <div class="layui-form">
        <div class="layui-form-item" style="margin-top: 15px;">
            <label class="layui-form-label label-after">接口编码</label>
            <div class="layui-form-block" style="display: inline-block;width: 216px;">
                <input type='text' name='interfaceId1' required  lay-verify='required' id='interfaceId1' placeholder='请输入接口编码' autocomplete='off' class='layui-input' >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-after">接口名称</label>
            <div class="layui-form-block" style="display: inline-block;width: 216px;">
                <input type='text' name='interfaceName1' required  lay-verify='required' id='interfaceName1' placeholder='请输入接口名称' autocomplete='off' class='layui-input' >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-after">接口描述</label>
            <div class="layui-form-block" style="display: inline-block;width: 216px;">
                <input type='text' name='interfaceDesc1' required  lay-verify='required' id='interfaceDesc1' placeholder='请输入接口描述' autocomplete='off' class='layui-input' >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-after">接口类型</label>
            <div class="layui-form-block" style="display: inline-block;width: 216px;">
                <select id="interfaceType1" name="interfaceType1" lay-verify="required" lay-search>
                    <option value="1">实时</option>
                    <option value="2">文件</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-after">文件处理类型</label>
            <div class="layui-form-block" style="display: inline-block;width: 216px;">
                <select id="interfaceDealType1" name="interfaceDealType1" lay-verify="required" lay-search>
                    <option value="1">上传</option>
                    <option value="2">下载</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-after">接口运行周期</label>
            <div class="layui-form-block" style="display: inline-block;width: 216px;">
                <select id="interfaceCycle1" name="interfaceCycle1" lay-verify="required" lay-filter="interface-cycle">
                    <option value="1">日</option>
                    <option value="2">周</option>
                    <option value="3">月</option>
                    <option value="4">临时</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-after">17路径</label>
            <div class="layui-form-block" style="display: inline-block;width: 216px;">
                <input type='text' name='interfaceLocalPath1' required  lay-verify='required' id='interfaceLocalPath1' placeholder='请输入17主机路径路径' autocomplete='off' class='layui-input' >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-after">228路径</label>
            <div class="layui-form-block" style="display: inline-block;width: 216px;">
                <input type='text' name='interfaceVgopPath1' required  lay-verify='required' id='interfaceVgopPath1' placeholder='请输入228主机路径' autocomplete='off' class='layui-input' >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-after">集团路径</label>
            <div class="layui-form-block" style="display: inline-block;width: 216px;">
                <input type='text' name='interfaceRemotePath1' required  lay-verify='required' id='interfaceRemotePath1' placeholder='请输入集团路径' autocomplete='off' class='layui-input' >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-after">文件名称</label>
            <div class="layui-form-block" style="display: inline-block;width: 216px;">
                <input type='text' name='interfaceFileName1' required  lay-verify='required' id='interfaceFileName1' placeholder='请输入接口文件名称' autocomplete='off' class='layui-input' >
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;margin-top: 20px;margin-left: 0px;">
                <button class="layui-btn" lay-submit lay-filter="Save">保存</button>

            </div>
        </div>
    </div>
</div>

<script src="./static/plugins/jquery/jquery-2.0.3.min.js"></script>
<script src="./static/plugins/layui/layui.js"></script>
<script src="./static/plugins/jquery/jquery.base64.js"></script>
<script src="./static/js/baseInfo.js"></script>