<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1800"/>
    <title>Title</title>
    <link rel="stylesheet" href="./static/plugins/layui/css/layui.css" />
    <link rel="stylesheet" href="./static/css/tagInfo.css" />

    <style>
        .layui-form-label{
            width: 150px;
        }
        .clearAdd, .clearEdit{
            width: 200px;
            display: inline-block;
        }
    </style>
</head>
<body>
<br>
<!-- 搜索框 -->
<div class="demoTable" style="margin-top: 5px;">
    &nbsp;
    <div class="layui-inline">
        <input class="layui-input" name="sftpTime" id="sftpTime" autocomplete="off" placeholder="sftp拉取周期">
    </div>
    <button class="layui-btn" onclick="sftpRun()">sftp</button>
</div>

<!-- 多条件查询 -->
<div class="layui-form" style="position: absolute; right: 10px;top: 20px;">
    <div class="layui-form-block" style="display:inline-block;width: 150px">
        <input class="layui-input" name="interfaceId" id="interfaceId" autocomplete="off" placeholder="请输入接口号">
    </div>
    <div class="layui-form-block" style="display:inline-block;width: 150px">
        <select id="updateType" name="updateType" lay-verify="">
            <option value="">请选择更新周期</option>
            <option value="1">日周期</option>
            <option value="2">月周期</option>
            <option value="3">周周期</option>
        </select>
    </div>
    <div class="layui-form-block" style="display:inline-block;width: 150px">
        <select id="isSuccess" name="isSuccess" lay-verify="">
            <option value="">请选择是否成功</option>
            <option value="-1">未成功</option>
            <option value="0">成功</option>
        </select>
    </div>
    <div class="layui-form-block" style="display:inline-block;width: 90px">
        <input id="updateTime" type="text" class="layui-input" name="updateTime" placeholder="请输入时间">
    </div>
    <button class="layui-btn" onclick="commit()">搜索</button>
</div>


<table class="layui-hide" id="interfaceRecord" lay-filter="interfaceRecord"></table>
<div class="alert"></div>
</div>

<script src="./static/plugins/jquery/jquery-2.0.3.min.js"></script>
<script src="./static/plugins/layui/layui.js"></script>
<script src="./static/js/interfaceRecord.js"></script>

</body>
</html>

