<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1800"/>
    <title>Title</title>
    <link rel="stylesheet" href="./static/plugins/layui/css/layui.css" />
    <link rel="stylesheet" href="./static/css/tagInfo.css" />
</head>
<body>
    <img src="./static/images/1.jpg"/>
    <img src="./static/images/2.jpg" style="width: 300px;height: 300px"/>
    <pre style="font-size: 22px;">
        亚信是在美国纳斯达克成功上市的中国高科技企业（NASDAQ交易代码：ASIA），2014年宣布私有化完成 从美国退市。
    总部设在北京，在成都、广州、上海、杭州、南京、福州、沈阳等地设有分支机构和研发中心。
        亚信的辉煌历程见证着中国通信行业的信息化发展进程。自1995年承建中国第一个商业化Internet骨干网ChinaNet起，
    亚信先后承建了中国六大全国性Internet骨干网工程、全球最大的VOIP网、全球最大的宽带视频会议网以及中国第一个3G业
    务支撑系统等上千项大型网络工程和软件系统。亚信不仅享有"中国互联网建筑师"的美誉，同时也被国家信息产业部认定为"
    中国重点软件企业"。
        亚信科技公司为中国电信运营商提供IT解决方案和服务，以使电信运营商迅速响应市场变化，降低运营成本，提升盈利能
    力。 目前，亚信提供的软件方案和服务涉及IP、VoIP、宽带、无线、3G等等技术领域，包括：业务支撑系统（计费、客户关
    系管理、商业智能分析、网管系统等）；电信增值应用系统以及电信级网络解决方案等。
    </pre>
</body>
</html>