<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.msooimonitor.mapper.dbt.upload.UploadMapper" >
  <resultMap id="BaseResultMap91010" type="com.asiainfo.msooimonitor.model.datahandlemodel.Upload93010" >
    <constructor >
      <arg column="ROW_NUMBER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PHONE_NO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IMEI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IDFA" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ACTIVITY_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORDER_DATE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ORDER_SOURCE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MONTH_TYPE" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <select id="selectUpload93010" parameterType="string" resultMap="BaseResultMap91010">
       select * from ${tableName}
  </select>
</mapper>