<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.msooimonitor.mapper.dbt.upload.UploadMapper" >
  <resultMap id="BaseResultMap93012" type="com.asiainfo.msooimonitor.model.datahandlemodel.Upload93012" >
    <constructor >
      <arg column="ROW_NUMBER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PHONE_NO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IMEI" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IDFA" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TONGYONG_FLOW_TOTAL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TONGYONG_FLOW_USE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MIGUDINGXIANG_TOTAL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MIGUDINGXIANG_USE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MIGU_SHIPING" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="AIQIYI_SHIPING" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TENGXUN_SHIPING" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="YOUKU_SHIPING" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MANGGUO_SHIPING" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PPTV_SHIPING" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <select id="selectUpload93012" parameterType="string" resultMap="BaseResultMap93012">
       select * from ${tableName}
  </select>
</mapper>